body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--cor-principal);
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 1rem 0 1rem;
}

h1{
    font-size: 3rem;
    color: #fff;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.2;
}

h2::before{
    content: "🐧";
    display: block;
}

.form{
    width: 100%;
    max-width: 32rem;
    font-size: 18px;
}

.form label,
.form input,
.form textarea,
.form button {
    display: block;
    width: 100%;
}

.form label{
    color: #fff;
    line-height: 1;
    margin-bottom: 0.5rem;
}

.form input,
.form textarea{
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius:9px;
    transition: border-color, box-shadow 0.2s;
}

.form textarea{
    min-height: 13rem;
    resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus{
   outline: none; 
   border-color: var(--azul-claro);
   box-shadow: 0 0 0 3px #311B92;
}

.form button{
    display: block;
    padding: 1rem;
    background-color: var(--azul-escuro);
    color: #fff;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    transition: 0.2s;
}

.form button:hover,
.form button:focus{
    outline: none;
    background-color: var(--cor-secundaria);
}

